<div class="container d-flex justify-content-center" style="height: 100vh;">
  <div class="w-50" style="margin-top: 6em;">
    <div [ngSwitch]="gameState" class="container d-flex justify-content-center" style="color: #00b1cd;">
      <h1 *ngSwitchCase="1">X Won!</h1>
      <h1 *ngSwitchCase="2">O Won!</h1>
      <h1 *ngSwitchCase="3">Draw!</h1>
      <h1 *ngSwitchDefault>Tic Tac Toe</h1>
    </div>
    <div *ngFor="let i of [0, 1, 2]">
      <div class="row">
        <div *ngFor="let j of [0, 1, 2]" class="col ratio ratio-1x1 placement-square" (click)="makeManualMove(i*3+j)">
          <h1 *ngIf="boardState[i*3+j]===1" class="piece-display text-center align-middle">X</h1>
          <h1 *ngIf="boardState[i*3+j]===2" class="piece-display text-center align-middle">O</h1>
        </div>
      </div>
    </div>
  </div>
 </div>
<div class="position-absolute top-0 end-0 side-bar d-flex justify-content-center">
  <div class="row row-cols-1 mt-5">
    <div class="col text-center">
      <h1>Settings</h1>
      <button type="button" class="btn btn-outline-dark" (click)="resetBoard()">Reset</button>
    </div>
    <div class="col text-center">
      <h1>X Control</h1>
      <div class="w-100"></div>
      <div class="d-flex justify-content-center">
        <input type="radio" class="btn-check" name="X-control" id="Manual-X" autocomplete="off" (click)="updatePlayer(1, 1)">
        <label class="btn" for="Manual-X">Manual</label>
        <input type="radio" class="btn-check" name="X-control" id="Engine-X" autocomplete="off" (click)="updatePlayer(1, 2)" checked>
        <label class="btn" for="Engine-X">Engine</label>
      </div>
    </div>
    <div class="col text-center">
      <h1>O Control</h1>
      <div class="w-100"></div>
      <div class="d-flex justify-content-center">
        <input type="radio" class="btn-check" name="O-Control" id="Manual-O" autocomplete="off" (click)="updatePlayer(2, 1)" checked>
        <label class="btn" for="Manual-O">Manual</label>
        <input type="radio" class="btn-check" name="O-Control" id="Engine-O" autocomplete="off" (click)="updatePlayer(2, 2)">
        <label class="btn" for="Engine-O">Engine</label>
      </div>
    </div>
  </div>
</div>
